<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Classroom</title>
  <script type="text/javascript" src="./socket.io.js"></script>
  <script type="text/javascript" src="./vue.js"></script>
  <link rel="stylesheet" href="./style.css?after" type="text/css" />
</head>
<body>
  <div id="app">
    <div>
      <rooms-info v-show="!is_room"
        :rooms="rooms"
        :room_count="room_count"
        :socket="socket"
        :my_id="my_id"
        :my_status="my_status"
        :room_maxs="room_maxs"
        @log="log"
        :dummy="dummy"
        ref="roomsInfo">
      </rooms-info>
    </div>
    <div>
      <users-info v-show="!is_room"
        :my_id="my_id"
        :log="log"
        :users="users"
        :socket="socket"
        :user_count="user_count"
        :on_waiting="on_waiting"
        :on_room="on_room"
				@show_message="showMessage"
        @log="log"
        ref="usersInfo">
      </users-info>
    </div>
		<div v-show="is_room" id="chat_room_container">
			<div id="room_header">
				 {{ my_room_name }}({{ my_room_id }})
				<button type="button" v-on:click="sendLeaveRoom">Leave Room</button>
			</div>
			<div id="chat_room" ref="chat_room">
				<div id="peers" ref="peers">
				</div>
				<div class="video-container">
					<my-video :my_id="my_id" :my_name="my_name" :is_room="is_room" @log="log" @video_info="onVideoInfo"></my-video>
				</div>
			</div>
		</div>
		<div v-show="on_alert" class="alert-container">
			<alert
				:alert_title="alert_title"
				:alert_message="alert_message"
				:cancel_label="cancel_label"
				:confirm_label="confirm_label"
				:is_confirm_alert="is_confirm_alert"
        @log="log"
				@on_alert_cancel="onAlertCancel"
				@on_alert_confirm="onAlertConfirm">
			</alert>
		</div>
  </div>
  <script>
    const info = {
      userId: '<%= user_id %>',
      userName: '<%= user_name %>',
      userType: '<%= user_kind %>'
    }
  </script>
  <script type="text/javascript" src="./adapter.js"></script>
  <script type="text/javascript" src="./roomsInfo.js?after"></script>
  <script type="text/javascript" src="./usersInfo.js?after"></script>
  <script type="text/javascript" src="./myVideo.js?after"></script>
  <script type="text/javascript" src="./peerVideo.js?after"></script>
  <script type="text/javascript" src="./alert.js?after"></script>
  <script type="text/javascript" src="./app.js?after"></script>
  <script type="text/javascript" src="./ga.js"></script>
</body>
</html>
