<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Classroom</title>
  <link rel="stylesheet" href="./css/style.css?after" type="text/css" />
</head>
<body>
  <div id="app">
    <div>
      <rooms-info v-show="!is_room"
        :rooms="rooms"
        :room_count="room_count"
        :socket="socket"
        :my_id="my_id"
        :my_status="my_status"
        :room_maxs="room_maxs"
        @log="log"
        :dummy="dummy"
        ref="roomsInfo">
      </rooms-info>
    </div>
    <div>
      <users-info v-show="!is_room"
        :my_id="my_id"
        :log="log"
        :users="users"
        :socket="socket"
        :user_count="user_count"
        :on_waiting="on_waiting"
        :on_room="on_room"
				@show_message="showMessage"
        @log="log"
        ref="usersInfo">
      </users-info>
    </div>
		<div v-show="is_room" id="chat_room_container">
			<div id="room_header">
        {{ my_room_name }}({{ my_room_id }})
				<button type="button" v-on:click="sendLeaveRoom">Leave Room</button>
			</div>
			<div id="chat_room" ref="chat_room">
				<div id="peers" ref="peers">
				</div>
				<div class="video-container">
					<my-video
						:my_id="my_id"
						:my_name="my_name"
						:is_room="is_room"
						@log="log"
						@video_info="onVideoInfo"
						@show_message="showMessage">
					</my-video>
				</div>
				<div class="shares-container">
          <shares
            :my_id="my_id"
						:is_room="is_room"
						:share_stream="shareStream"
						:recv_message="recvMessage"
            @show_message="showMessage"
						@change_prop="changeProp"
						@log="log">
					</shares>
        </div>
			</div>
		</div>
		<div v-show="on_alert" class="alert-container">
			<alert
				:alert_title="alert_title"
				:alert_message="alert_message"
				:cancel_label="cancel_label"
				:confirm_label="confirm_label"
				:is_confirm_alert="is_confirm_alert"
        @log="log"
				@on_alert_cancel="onAlertCancel"
				@on_alert_confirm="onAlertConfirm">
			</alert>
		</div>

  <script>
    const info = {
      userId: '<%= user_id %>',
      userName: '<%= user_name %>',
      userType: '<%= user_kind %>'
    }
  </script>
  <script type="text/javascript" src="./js/lib/socket.io.js"></script>
  <script type="text/javascript" src="./js/lib/vue.js"></script>
  <script type="text/javascript" src="./js/lib/adapter.js"></script>
  <script type="text/javascript" src="./js/roomsInfo.js?after"></script>
  <script type="text/javascript" src="./js/usersInfo.js?after"></script>
  <script type="text/javascript" src="./js/myVideo.js?after"></script>
  <script type="text/javascript" src="./js/peerVideo.js?after"></script>
  <script type="text/javascript" src="./js/shares.js?after"></script>
  <script type="text/javascript" src="./js/alert.js?after"></script>
  <script type="text/javascript" src="./js/app.js?after"></script>
</body>
</html>
