body {
	font-family: Verdana, sans-serif, Helvetica Neue, Helvetica;
	font-size: 100%;
	min-height: 100%;
	overflow-y: scroll; 
	-ms-text-size-adjust: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	text-rendering: optimizeLegibility;
	color: #373737;
	background-color: #f4f4f4;
	background-color: #ffd3d9;
}

#app {
	width: 960px;
	width: 100%;
	margin: auto;
}

.dummy {
	display: none;
}

button {
  background-color: #373737;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 10px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  width: auto;
	float: right;
}
button:hover {
  opacity: 0.8;
}
button:active {
	transform: scale(0.95);
}
button:disabled {
	background-color: #e1e1e1;
}
table button {
	margin: 3px 3px;
	padding: 3px 10px;
	font-size: 12px;
	float: none;
}

label {
	margin-right: 5px;
}

input, select {
  padding: 10px 10px;
	margin: 10px 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  /*background-color: #f8f1e2;*/
  background-color: #fff7f8;
}

#chat_room_container {
	background-color: #373737;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

#room_header {
	padding: 10px 20px;
}

#room_info {
	width: 100%;
	padding: 30px 10px;
}

#user_info {
	width: 100%;
	padding: 30px 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	display: table-header-group;
	border: 1px solid #333;
}

tbody {
	display: table-row-group;
}

tr {
	display: table-row;
}

tbody tr:nth-child(odd) {
	background-color: #fefefe;
}

tbody tr:nth-child(even) {
	background-color: #f1f1f1;
}
tbody tr:hover {
	background-color: #f1d1d1;
}

th {
	display: table-cell;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background: #e1e1e1;
  border: none;
  color: #373737;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	border: 1px solid #333;
	border: none;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	text-align: center;
}

#chat_room {
	align: center;
}
#room_header {
	font-size: 17px;
	font-weight: 600;
	padding-top: 20px;
	margin: 10px 10px;
}
#room_header button {
	padding: 0;
	margin: 0;
}

#peers {
	width: 100%;
	display: grid;
	grid-template-rows: 2 1fr;
	grid-template-columns: 2 1fr;
}

.peer_video-container {
	float: center;
	margin: 5px 5px;
}

.video-container {
	width: 100%;
	text-align: center;
}
#my_videos {
	display: grid;
	grid-template-rows: 20px auto;
	grid-template-columns: 2 1fr;
	grid-template-areas: "control control" "cam utils";
}
.control-panel {
  height: 20px;
	padding-left: 20px;
  grid-area: control;
}
.control-panel .icon-btn {
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#my_camera {
	grid-area: cam;
}
#movie_music {
	grid-area: utils;
	display: none;
}

video {
  background-color: #373737;
	width: 100%;
	height: 100%;
	padding: 10px 10px;
}

.alert-container {
  z-index:999;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.2);
}

.alert {
  /*position: relative;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 20px;
  background-color: #333333;
  border-radius: 5px;
  width: 25%;
  min-width: 400px;
  /*transition: all 5s ease-in-out;*/
}
.alert-error {
  /*position: relative;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 20px;
  background-color: #cc0000;
  border-radius: 5px;
  width: 25%;
  min-width: 400px;
  /*transition: all 5s ease-in-out;*/
}
.alert-success {
  /*position: relative;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 20px;
  background-color: #008000;
  border-radius: 5px;
  width: 25%;
  min-width: 400px;
  /*transition: all 5s ease-in-out;*/
}
.alert-notify {
  /*position: relative;*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 20px;
  background-color: #ff7777;
  border-radius: 5px;
  width: 25%;
  min-width: 400px;
  /*transition: all 5s ease-in-out;*/
}

.alert-container h2 {
  margin-top: 0;
  color: #ffffff;
  font-family: Tahoma, Arial, sans-serif;
}
.alert-container .alert-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.alert-container .alert-close:hover {
  color: #333;
}
.alert-container .alert-content {
  max-height: 30%;
  overflow: auto;
  color: #ffffff;
}
.alert-response {
	text-align: center;
}
.alert-response button {
	float: none;
	min-width: 100px;
	margin-top: 20px;
}
